<p>
  Greetings <b><%=fullname%></b>,
</p>
<p>
  Your email just created an account on <%=site%>.
</p>
<p>
  This is link in order to active account <a href="<%=link%>"><b><%=link%></b></a>. Please note that this code will
  expire in <%=hours%> hours
  from when
  this email is sent
</p>
<p>
  Sincerely,
  <br />
  The <b>Listco</b> Team.
</p>